@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
}

.container-comic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
  height: 100vh;
  width: 100%;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.container-comic .comic {
  width: 850px;
  height: 500px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
  position: relative;
  -webkit-filter: drop-shadow(4px 4px 16px black);
          filter: drop-shadow(4px 4px 16px black);
}

.container-comic .comic__title {
  text-align: center;
  padding: 5px;
}

.container-comic .comic__title--inactive {
  display: none;
}

.container-comic .comic__img {
  width: 68%;
  height: 76%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 100px;
  position: absolute;
}

.container-comic .comic__star {
  font-size: 2rem;
  cursor: pointer;
}

.container-comic .comic__star:hover {
  color: yellow;
  font-size: 2.2rem;
}

.container-comic .comic__star--checked {
  color: yellow;
  font-size: 2.2rem;
}

.container-comic .comic__star--checked:hover {
  opacity: 0.3;
  font-size: 2rem;
}

.container-comic .comic__info {
  width: 300px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  -webkit-box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
          box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
  border-radius: 20px;
  -webkit-transform: translateX(-80px);
          transform: translateX(-80px);
  overflow: hidden;
  position: relative;
  left: -40.2%;
}

.container-comic .comic__button {
  position: relative;
  top: -280px;
  right: -424.7px;
  background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
  height: 60px;
  width: 110px;
  border: 2px solid white;
  border-radius: 19px;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.container-comic .comic__button:hover {
  -webkit-filter: drop-shadow(2px 4px 6px black);
          filter: drop-shadow(2px 4px 6px black);
}

.container-comic .comic__button--inactive {
  opacity: 0;
  cursor: default;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */